<IfModule mod_expires.c>
  ExpiresActive On

  # IMMAGINI
  ExpiresByType image/webp "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/svg+xml "access 1 year"

  # CSS E JS
  ExpiresByType text/css "access 1 year"
  ExpiresByType application/javascript "access 1 year"

  # FONT
  ExpiresByType font/woff2 "access 1 year"
  ExpiresByType font/woff "access 1 year"

</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png|webp|css|js|woff2|woff)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
</IfModule>